<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Aronim Cloud</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.css}"
          rel="stylesheet" media="screen"/>
    <link href="../css/aronim.cloud.web.admin.css"
          th:href="@{/resources/css/aronim.cloud.web.admin.css}"
          rel="stylesheet" media="screen"/>

    <script type="text/javascript"
            data-main="/resources/common/js/aronim.cloud.common.require.js"
            src="../../../../../aronim-cloud-common/src/main/resources/META-INF/resources/common/js/aronim.cloud.common.require.local.js"
            th:src="@{/webjars/requirejs/2.1.17/require.js}"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">Admin Cloud</a>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li><a>Geoff Vader</a></li>
                <li><a href="#" data-aronim-cloud-module="js/aronim.cloud.common.logout"
                       ng-controller="LogoutController" ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li th:each="menuItem : ${menuItems}"><a th:href="${menuItem.path}" th:text="${menuItem.name}">A Menu Item</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row" th:attr="data-aronim-cloud-module=${selectedItem.module}">
                <div th:remove="tag" th:utext="${selectedItem.elementText}"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>